
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma
 *= require_tree .
 *= require_self
 */


.customer-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.customer-image img {
  border-radius: 8px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.customer-info h2 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}




